@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam", sans-serif;
    font-size: 19px;
}

/* -------HEADER------- */
.header {
    font-size: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 200px;
}

.nav-menu {
    width: 500px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
    align-items: center;
}

.lineas-btn {
    background-color: #000000;
    height: 6px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
}

.burger-btn {
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
}

.lineas-btn:nth-child(3) {
    top: 40px;
}

.lineas-btn:nth-child(2) {
    top: 20px;
}

a {
    text-decoration: none;
    color: #242e52;
}

.btn {
    width: 134px;
    height: 50px;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #8b48bf;
    font-size: 18px;
}

/* -------BANNER------- */
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 200px;
    /* height: 461px; */
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner-img {
    padding-left: 50px;
}

h1 {
    font-size: 50px;
    color: #232C50;
}

.banner-text p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 40%;
    justify-content: center;
}

.banner .btn {
    align-self: flex-end;
}

/*-------AREA RESALTADA-------*/
.area-res {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding: 40px 200px;
}

.titu-h2 {
    width: 50%;
    font-size: 36px;
    margin-right: 50px;
    padding: auto;
}

.par-res {
    width: 50%;
    display: flex;
    text-align: left;
    margin-left: 50px;
}

/*-------SECTION-CARDS---------*/
.section-container{
    display: flex;
    margin: 40px;
    flex-direction: row;
}

.card-titu{
    display: inline;
    padding: 15px 10px;
}
.numero{
    border-radius: 50px;
    background-color: #8b48bf;
    font-weight: bold;
    color:#ffffff;
    padding: 15px 30px;
}
.section-container p{
    padding: 30px;
    padding-left: 100px;
}
/*--------------------------------------------*/
/*MEDIA QUERIES*/

@media (max-width: 1245px) {
    /*-----HEADER-----*/
    .header {
        margin: 40px 50px;
    }

    /*-----BANNER-----*/
    .banner {
        margin: 20px;
    }
    h1 {
        font-size: 40px;
    }
    .banner-text {
        width: 100%;
    }
    /*-----AREA RESALTADA-----*/
    .area-res {
        padding: 30px 100px;
    } 

    /*-----SECTION-CARDS-----*/
    .section-container{
        flex-direction: column;
    }
    .card-titu{
        background-color: #dcc8ec;
    }

}

@media (max-width: 768px) {
    /*-----HEADER-----*/
    .burger-btn {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .btn-up {
        display: none;
    }
    .header {
        margin: 40px 50px;
    }

    /*-----BANNER-----*/
    .banner {
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
    }
    .banner-img {
        width: 100%;
        padding-left: 0px;
        margin-bottom: 60px;
    }
    .banner-text p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*-----AREA RESALTADA-----*/
    .area-res {
        background-color: #3CDDF3;
        flex-direction: column;
        align-items: left;
        padding: 40px 20px;
    }
    .titu-h2 {
        width: 100%;
        margin: 0px; 
        margin-bottom: 30px;
    }
    .par-res{
        width: 100%;
        margin-left: 0px;
    }
}


