@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
  font-size: 19px;
}

body {
  width: 100%;
  height: 100%;
}
p {
  line-height: 156.6%;
}

.btn:hover,
.btn:active {
  background-color: #232c50;
}

/* -------HEADER------- */
.header {
  font-size: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 200px;
}

.nav-menu {
  width: 500px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  height: 100%;
  align-items: center;
}

.item-nav:hover,
.item-nav:active {
  color: #8b48bf;
}

.lineas-btn {
  background-color: #000000;
  height: 6px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
}

.burger-btn {
  width: 50px;
  height: 50px;
  position: relative;
  display: none;
}

.lineas-btn:nth-child(3) {
  top: 40px;
}

.lineas-btn:nth-child(2) {
  top: 20px;
}

a {
  text-decoration: none;
  color: #242e52;
}

.btn {
  width: 134px;
  height: 50px;
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #8b48bf;
  font-size: 18px;
}

/* -------BANNER------- */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 200px;
}

.banner img {
  width: 100%;
  height: 100%;
}

.banner-img {
  padding-left: 50px;
}

h1 {
  font-size: 50px;
  color: #232c50;
}

.banner-text p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 40%;
  justify-content: center;
}

.banner .btn {
  align-self: flex-end;
}

/*-------AREA RESALTADA-------*/
.area-res {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8b48bf;
  color: #ffffff;
  width: 100%;
  height: auto;
  padding: 40px 200px;
}

.titu-h2 {
  width: 50%;
  font-size: 36px;
  margin-right: 50px;
  padding: auto;
}

.par-res {
  width: 50%;
  display: flex;
  text-align: left;
  margin-left: 50px;
}

/*-------SECTION-CARDS---------*/
.section-container {
  display: flex;
  padding: 40px 80px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fafafa;
}

.card {
  width: 50%;
  padding: 10px;
}

.numero {
  border-radius: 50px;
  background-color: #8b48bf;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 30px;
  display: inline-block;
  margin-right: 10px;
}

.section-container p {
  color: #b3b2b7;
  padding-left: 100px;
  text-align: justify;
}

/* <----- Best of the month section ------> */

.section-bestOfTheMonth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.article-container-botm {
  display: flex;
  align-items: center;
  padding: 10px;
}

.article-botm {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 300px;
  padding: 10px;
  align-items: center;
  background-color: #fafafa;
  margin: 10px;
}

.avatar {
  width: 60px;
  margin: 10px;
}

.h2-botm {
  padding: 10px;
  font-size: 40px;
  text-align: center;
  color: #242e53;
  margin: 70px;
}

.p-botm {
  padding: 10px;
  height: 100%;
}

.button-botm,
.button-btoy {
  width: 134px;
  height: 44px;
  padding: 10px;
  border-radius: 50px;
  gap: 10px;
  border: none;
  font-size: medium;
}
.button-botm {
  background-color: #8b48bf;
  color: white;
}

.bestTeamOfYear {
  display: flex;
  justify-content: space-around;
  background-color: #8b48bf;
  padding: 20px;
  height: 200px;
  align-items: center;
  margin-top: 100px;
}
.button-btoy {
  padding: 10px;
  color: #8b48bf;
}
.h2-btoy {
  color: white;
  font-size: 36px;
  padding: 10px;
  width: 30%;
}

/* <----- FOOTER ------> */

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  height: 200px;
  padding: 2em 10em;
}

.logo-footer {
  height: fit-content;
  align-self: flex-start;
}

.socialMediaIconsContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 153px;
  height: 22px;
}

.icon-rrss {
  margin: auto;
  width: 21px;
  height: 20px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.nav-footer-ul {
  column-count: 2;
  align-self: stretch;
  list-style: none;
}

.nav-footer-li {
  padding: 5px;
}
.a-nav-footer {
  color: white;
  font-size: 16px;
}

.inbox-form {
  padding: 10px;
  width: 275px;
  height: auto;
  height: fit-content;
  width: fit-content;
  align-self: flex-end;
}
.email-input {
  width: 201px;
  height: 44px;
  padding: 10px;
  font-size: 13px;
  border-radius: 50px;
  gap: 10px;
  border: none;
  color: #a0a0a0;
}
.button-form {
  width: 63px;
  height: 42px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: #8b48bf;
  color: white;
}

.copyright {
  color: #8c8c94;
  font-size: 12px;
  font-weight: lighter;
  order: 4;
  align-self: flex-end;
}

/*--------------------------------------------*/
/*MEDIA QUERIES*/

@media (max-width: 1245px) {
  /*-----HEADER-----*/
  .header {
    margin: 40px 50px;
  }

  /*-----BANNER-----*/
  .banner {
    margin: 20px;
  }

  h1 {
    font-size: 40px;
  }

  .banner-text {
    width: 100%;
  }

  /*-----AREA RESALTADA-----*/
  .area-res {
    padding: 30px 100px;
  }
}

@media (max-width: 768px) {
  /*-----HEADER-----*/
  .burger-btn {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .btn-up {
    display: none;
  }

  .header {
    margin: 40px 50px;
  }

  /*-----BANNER-----*/
  .banner {
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
  }

  .banner-img {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 60px;
  }

  .banner-text p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /*-----AREA RESALTADA-----*/
  .area-res {
    background-color: #3cddf3;
    flex-direction: column;
    align-items: left;
    padding: 40px 20px;
  }

  .titu-h2 {
    width: 100%;
    margin: 0px;
    margin-bottom: 40px;
  }

  .par-res {
    width: 100%;
    margin-left: 0px;
  }

  /*-----SECTION-CARDS-----*/
  .section-container {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: 0px;
    padding-left: 20px;
  }

  .card-titu {
    background-color: #dcc8ec;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 16px;
  }

  .card {
    width: 100%;
    text-align: left;
    padding-right: 0px;
  }
  .section-container p {
    padding-left: 10px;
    padding-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  /* <------ Best of the month section ------> */

  .article-botm-container {
    flex-direction: column;
  }
  .article-botm {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .bestTeamOfYear {
    flex-direction: column;
    height: 370px;
    background-color: #3cddf3;
  }
  .h2-btoy {
    font-size: 40px;
    width: 45%;
    line-height: 48px;
    text-align: center;
  }
  .button-btoy{
    background-color: #232C50;
    color: #FFFFFF;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    height: 540px;
    padding: 40px 0px;
    flex-wrap: nowrap;
    }

  .inbox-form {
    display: flex;
    gap: 15px;
    order: 1;
    width: fit-content;
    align-self: center;
  }

  .email-input {
    width: 310px;
    margin-left: 10px;
  }
  .button-form {
    width: 65px;
  }

  .nav-footer {
    order: 2;
    width: 344px;
    margin: 0 auto;
  }

  .socialMediaIconsContainer {
    order: 3;
    width: 380px;
    height: 22px;
    justify-items: space-between;
    align-self: center;
  }

  .logo-footer {
    order: 4;
    align-self: center;
  }

  .copyright {
    order: 5;
    align-self: center;
  }
}
