@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam", sans-serif;
    font-size: 19px;
}

body{
    width: 100%;
    height: 100%;
}
p{
    line-height: 156.6%;
}

.btn:hover,
.btn:active{
    background-color:#232C50;
}

/* -------HEADER------- */
.header {
    font-size: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 200px;
}

.nav-menu {
    width: 500px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
    align-items: center;
}

.item-nav:hover,
.item-nav:active{
    color:#8B48BF;
}

.lineas-btn {
    background-color: #000000;
    height: 6px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
}

.burger-btn {
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
}

.lineas-btn:nth-child(3) {
    top: 40px;
}

.lineas-btn:nth-child(2) {
    top: 20px;
}

a {
    text-decoration: none;
    color: #242e52;
}

.btn {
    width: 134px;
    height: 50px;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #8b48bf;
    font-size: 18px;
}

/* -------BANNER------- */
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 200px;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner-img {
    padding-left: 50px;
}

h1 {
    font-size: 50px;
    color: #232C50;
}

.banner-text p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 40%;
    justify-content: center;
}

.banner .btn {
    align-self: flex-end;
}

/*-------AREA RESALTADA-------*/
.area-res {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding: 40px 200px;
}

.titu-h2 {
    width: 50%;
    font-size: 36px;
    margin-right: 50px;
    padding: auto;
}

.par-res {
    width: 50%;
    display: flex;
    text-align: left;
    margin-left: 50px;
}

/*-------SECTION-CARDS---------*/
.section-container {
    display: flex;
    padding: 40px 80PX;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FAFAFA;

}

.card {
    width: 50%;
    padding: 10px;
}

.numero {
    border-radius: 50px;
    background-color: #8b48bf;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    margin-right: 10px;
}

.section-container p {
    color: #B3B2B7;
    padding-left: 100px; 
    text-align: justify;
}

/* <----- Best of the month section ------> */

.bestOfTheMonth{
    border: green solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.article-container-botm{
    border: solid red 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.article-botm{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    width: 33%;
    height: 300px;
    padding: 10px;
    align-items: center;
    margin: 10px;
}

.avatar{
    width: 60px;
    margin: 10px;
}

.h4-botm{
    padding: 10px;
}

.p-botm{
    padding: 10px;
    height: 100%;
}

.button-botm{
    width: 100px;
    margin: 10px;
}

/* <----- Best teams of the year article ------> */

.bestTeamOfYear{
    border: solid 1px blue;
    display: flex;
    justify-content: space-between;
    background-color: #8b48bf;
    padding: 20px;
}

.h2-btoy{
    color: white;
}

/* <----- FOOTER ------> */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid  1px gray;
    background-color: black;
    height: 200px;
}

.logo-footer{
    border: 1px solid white;
    height: fit-content;
}

.icon-rrss{
    border: 1px white solid;
}

.nav-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-footer-ul{
    column-count: 2;
    align-self: stretch;
}

.nav-footer-li{
    padding: 10px;
}




/*--------------------------------------------*/
/*MEDIA QUERIES*/

@media (max-width: 1245px) {

    /*-----HEADER-----*/
    .header {
        margin: 40px 50px;
    }

    /*-----BANNER-----*/
    .banner {
        margin: 20px;
    }

    h1 {
        font-size: 40px;
    }

    .banner-text {
        width: 100%;
    }

    /*-----AREA RESALTADA-----*/
    .area-res {
        padding: 30px 100px;
    }

}

@media (max-width: 768px) {

    /*-----HEADER-----*/
    .burger-btn {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .btn-up {
        display: none;
    }

    .header {
        margin: 40px 50px;
    }

    /*-----BANNER-----*/
    .banner {
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
    }

    .banner-img {
        width: 100%;
        padding-left: 0px;
        margin-bottom: 60px;
    }

    .banner-text p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*-----AREA RESALTADA-----*/
    .area-res {
        background-color: #3CDDF3;
        flex-direction: column;
        align-items: left;
        padding: 40px 20px;
    }

    .titu-h2 {
        width: 100%;
        margin: 0px;
        margin-bottom: 40px;
    }

    .par-res {
        width: 100%;
        margin-left: 0px;
    }

    /*-----SECTION-CARDS-----*/
    .section-container {
        flex-direction: column;
        flex-wrap: nowrap;
        padding-right: 0px;
        padding-left: 20px;
    }

    .card-titu {
        background-color: #dcc8ec;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        font-size: 16px;
    }

    .card {
        width: 100%;
        text-align: left;
        padding-right: 0px; 
    }
    .section-container p {
        padding-left: 10px;
        padding-right: 40px;
        margin-top: 30px; 
        margin-bottom: 20px;
    }
}